body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.input-text {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 856px;
  height: 400px;
  z-index: 10000;
  text-align: center;
  color: transparent;
  background-color: transparent;
  word-wrap: break-word;
  word-break: break-all;
  border: 0;
}
